@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header-links , .header-below{
    background-color: #1f2937;
    color:white;
    padding: 16px;
    
}

.logo{
    font-size: 24px;
    color:#F9FAF8
}
h1{
    margin: 0;
}

h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    margin: 0;
    width: 400px;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.navig{
    display: flex;
    gap: 42px;
}

#head-image{
   width: 400px;
   height: 250px;
   margin-bottom: 100px;
}

button{
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 8px;
    border: 0;
}

.header-below{
    display: flex;
    justify-content: space-around;
}
.header-links-image {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 200px;
    align-items: flex-end;
}
.head-desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:8px;
    margin-bottom: 100px;
    width: 400px;
    height: 250px;
    
}
.header-below-desc-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:200px
}

/* info ------------------------------------------------------------------------------------ */

h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image{
    border: 4px solid;
    border-color: #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
.images{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.text-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.info-text{
    width: 150px;
    text-align: center;
}
/* quote ------------------------------------------------------ */
.quote{
    background-color: #E5E7EB;
    
}
.quote-text{
    color: #1f2937;
    font-size: 36px;
    font-weight: 300px;
}

.quote-owner{
    color: #1f2937;
    font-size: 18px;
    font-weight: bold;
}
/* call--------------------------------- */

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.contact-container{
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 750px;
    padding: 32px;
    border-radius: 8px;
}
.call-t{
    margin: 0;
}
.call-b{
    border: #E5E7EB solid;
}

/* footer ------------------------------ */

.footer{
    background-color: #1f2937;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}